section{
    width:80%;
    height:800px;
    background-color:purple;
    margin: 0 auto;
    /* background-image: url(https://images.unsplash.com/photo-1737204310662-4d4a541ce471?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw2fHx8ZW58MHx8fHx8); */
    background: center/cover url(https://images.unsplash.com/photo-1737204310662-4d4a541ce471?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw2fHx8ZW58MHx8fHx8);

}

body{
    font-family: Roboto, Sans-serif;
}
h1{
    color:white;
}
